# Feature Engineering

Continue where you left during the data preparation exercise. Focus on the different techniques of feature engineering we read about today and try to come up with some features that could be relevant later on.

In [10]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import datetime

In [2]:
df_train=pd.read_csv('UFO_data.csv',sep=';',index_col='Unnamed: 0')

C:\Users\Federico\anaconda3\envs\boot_env\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (20,23,26,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_train.head()

,timestamp,city,state,country,shape,duration_seconds,duration_text,notes,date_reported,lat,...,windBearing,windBearingError,windSpeed,windSpeedError,ast_absolute_magnitude_h,ast_estimated_diameter,ast_is_dangerous,ast_miss_distance,ast_orbiting_body,ast_relative_velocity
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27 00:00:00,29.883056,...,154.0,NaN,4.89,NaN,21.5,0.297879,True,42621696.0,Earth,13778.372043
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16 00:00:00,29.384210,...,135.0,NaN,6.60,NaN,21.5,0.297879,True,42621696.0,Earth,13778.372043
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21 00:00:00,53.200000,...,NaN,NaN,NaN,NaN,21.5,0.297879,True,42621696.0,Earth,13778.372043
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17 00:00:00,28.978333,...,136.0,NaN,2.75,NaN,21.5,0.297879,True,42621696.0,Earth,13778.372043
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22 00:00:00,21.418056,...,80.0,NaN,3.60,NaN,21.5,0.297879,True,42621696.0,Earth,13778.372043

In [4]:
df_train.dtypes

timestamp                    object
city                         object
state                        object
country                      object
shape                        object
duration_seconds            float64
duration_text                object
notes                        object
date_reported                object
lat                         float64
lng                         float64
date_event                   object
apparentTemperature         float64
cloudCover                  float64
cloudCoverError             float64
dewPoint                    float64
dewPointError               float64
humidity                    float64
humidityError               float64
icon                         object
precipIntensity             float64
precipProbability           float64
precipType                   object
pressure                    float64
pressureError               float64
summary                      object
temperature                 float64
temperatureError            float64
time                        float64
visibility                  float64
visibilityError             float64
windBearing                 float64
windBearingError            float64
windSpeed                   float64
windSpeedError              float64
ast_absolute_magnitude_h    float64
ast_estimated_diameter      float64
ast_is_dangerous             object
ast_miss_distance           float64
ast_orbiting_body            object
ast_relative_velocity       float64
dtype: object

In [7]:
num_feats = df_train.dtypes[df_train.dtypes != 'object'].index.tolist()
df_numeric = df_train[num_feats]
df_numeric.dtypes

duration_seconds            float64
lat                         float64
lng                         float64
apparentTemperature         float64
cloudCover                  float64
cloudCoverError             float64
dewPoint                    float64
dewPointError               float64
humidity                    float64
humidityError               float64
precipIntensity             float64
precipProbability           float64
pressure                    float64
pressureError               float64
temperature                 float64
temperatureError            float64
time                        float64
visibility                  float64
visibilityError             float64
windBearing                 float64
windBearingError            float64
windSpeed                   float64
windSpeedError              float64
ast_absolute_magnitude_h    float64
ast_estimated_diameter      float64
ast_miss_distance           float64
ast_relative_velocity       float64
dtype: object

In [26]:
df_numeric['days_to_report']=(df_train['date_reported'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S').date())-df_train['date_event'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d').date())).dt.days

<ipython-input-26-235aac9b5f79>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric['days_to_report']=(df_train['date_reported'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S').date())-df_train['date_event'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d').date())).dt.days

In [27]:
df_numeric['days_to_report']

0        19923
1        20521
2        19096
3        17265
4        15809
         ...
80327       21
80328       21
80329       21
80330       21
80331       21
Name: days_to_report, Length: 80332, dtype: int64

In [28]:
df_numeric.head()

,duration_seconds,lat,lng,apparentTemperature,cloudCover,cloudCoverError,dewPoint,dewPointError,humidity,humidityError,...,visibilityError,windBearing,windBearingError,windSpeed,windSpeedError,ast_absolute_magnitude_h,ast_estimated_diameter,ast_miss_distance,ast_relative_velocity,days_to_report
0,2700.0,29.883056,-97.941111,25.86,0.00,NaN,20.56,NaN,0.73,NaN,...,NaN,154.0,NaN,4.89,NaN,21.5,0.297879,42621696.0,13778.372043,19923
1,7200.0,29.384210,-98.581082,26.12,0.00,NaN,21.72,NaN,0.77,NaN,...,NaN,135.0,NaN,6.60,NaN,21.5,0.297879,42621696.0,13778.372043,20521
2,20.0,53.200000,-2.916667,15.56,0.75,NaN,12.86,NaN,0.84,NaN,...,NaN,NaN,NaN,NaN,NaN,21.5,0.297879,42621696.0,13778.372043,19096
3,20.0,28.978333,-96.645833,22.68,0.12,NaN,17.04,NaN,0.71,NaN,...,NaN,136.0,NaN,2.75,NaN,21.5,0.297879,42621696.0,13778.372043,17265
4,900.0,21.418056,-157.803611,25.74,0.63,NaN,21.47,NaN,0.77,NaN,...,NaN,80.0,NaN,3.60,NaN,21.5,0.297879,42621696.0,13778.372043,15809

In [46]:
# TIME OF DAY -> MORNING (6-12), AFTERNOON(12-18), EVENING(18-24), NIGHT(0-6)
df_train['timestamp'][0]
df_train['period_of_day'] = 0
for i in range(len(df_train)):
    try:
        tyme = datetime.datetime.strptime(str(df_train.loc[i,'timestamp']),'%Y-%m-%d %H:%M:%S').hour
        if (tyme>=0) & (tyme<6):
            df_train.loc[i,'period_of_day']=0
        elif (tyme>=6) & (tyme<12):
            df_train.loc[i,'period_of_day']=1
        elif (tyme>=12) & (tyme<18):
            df_train.loc[i,'period_of_day']=2
        elif (tyme>=18) & (tyme<=23):
            df_train.loc[i,'period_of_day']=3
    except:
        df_train.loc[i,'period_of_day']=np.nan
        
        #df_train['timestamp'].apply(lambda x: datetime.datetime.strptime(str(x),'%Y-%m-%d %H:%M:%S'))

In [48]:
df_numeric['period_of_day'] = df_train['period_of_day']

<ipython-input-48-e43188db6e79>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numeric['period_of_day'] = df_train['period_of_day']

In [49]:
df_numeric.head()

,duration_seconds,lat,lng,apparentTemperature,cloudCover,cloudCoverError,dewPoint,dewPointError,humidity,humidityError,...,windBearing,windBearingError,windSpeed,windSpeedError,ast_absolute_magnitude_h,ast_estimated_diameter,ast_miss_distance,ast_relative_velocity,days_to_report,period_of_day
0,2700.0,29.883056,-97.941111,25.86,0.00,NaN,20.56,NaN,0.73,NaN,...,154.0,NaN,4.89,NaN,21.5,0.297879,42621696.0,13778.372043,19923,3.0
1,7200.0,29.384210,-98.581082,26.12,0.00,NaN,21.72,NaN,0.77,NaN,...,135.0,NaN,6.60,NaN,21.5,0.297879,42621696.0,13778.372043,20521,3.0
2,20.0,53.200000,-2.916667,15.56,0.75,NaN,12.86,NaN,0.84,NaN,...,NaN,NaN,NaN,NaN,21.5,0.297879,42621696.0,13778.372043,19096,2.0
3,20.0,28.978333,-96.645833,22.68,0.12,NaN,17.04,NaN,0.71,NaN,...,136.0,NaN,2.75,NaN,21.5,0.297879,42621696.0,13778.372043,17265,3.0
4,900.0,21.418056,-157.803611,25.74,0.63,NaN,21.47,NaN,0.77,NaN,...,80.0,NaN,3.60,NaN,21.5,0.297879,42621696.0,13778.372043,15809,3.0

In [51]:
df_numeric.to_csv('feature_eng_data.csv')